body
{
    margin:0px;
    font-family:Verdana;
    font-weight:100;
    font-size:15px;
}
.title{font-weight:bold;font-size:13px;}
p{margin:2px;}
a.menu_link{font-weight:100;margin-left:15px;}
a{font-weight:bold;}
a:link {color: #86b7ff; text-decoration:none;}
a:visited {color: #86b7ff; text-decoration:none;}
a:hover {color: #86b7ff; text-decoration:none;}
a:active {color: #86b7ff; text-decoration:none;}

.div_footer
{
    border:1px solid #dcdcdc;
    width:550px;
    vertical-align:top;
    text-align:justify;
    padding:2px;
    margin-top:5px;
    margin-bottom:10px;
    font-weight:bold !important;
    font-size:9px !important;
}


.header
{

    font-family:Verdana;
    font-weight:100;
    font-size:16px;
    text-align: center;
    text-shadow: 3px 3px 8px rgba(93, 195, 255, 0.9);
    font-size:16px;
    width:100%;
    border:2px solid #c0ecff;
    height:25%px;
    margin:15px;
    margin-top:0px;
}


.koncerts
{
    vertical-align: middle;
    text-align: center;
    margin:0px;
    box-sizing: content-box;

    border:2px solid #c0ecff;
    width: 1000px;
    height: 40%;
    padding: 20px;
    overflow: hidden;

    margin-top:10px;
    border-radius: 10px;

    background: rgba(161,182,209,0.39);
    box-shadow: 1px 1px 1px 0 rgba(0,0,0,0.3) ;

}
.text{

    font: normal 16px/1 Verdana, Geneva, sans-serif;
    color: rgba(49, 57, 68, 0.77);
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    text-align: justify;
}
.text1{

    font: normal 16px/1 Verdana, Geneva, sans-serif;
    color: rgba(5,140,145,1);
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    text-align: center;
}

.date_concerts{

    font: normal 20px/1 Verdana, Geneva, sans-serif;
    color: rgb(237, 99, 113);
    text-overflow: ellipsis;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.2) ;
    text-align: center;
}
A {
    text-decoration: none;
    color: rgb(168, 185, 237);
}
A:visited {
    text-decoration: none;
    color: rgb(168, 185, 237);
}
A:active {
    text-decoration: none;
    color: rgb(168, 185, 237);
}
.hall {
    display: flex;
    flex-direction: column;
    margin:2px auto 2px;


}

.hall-row_red {
    display: flex;
    flex-direction: row;
    margin:1px auto 1px;


}
.hall-row_yel {
    display: flex;
    flex-direction: row;
    margin:2px auto 2px;
    border: 2px solid #d4d404;

}
.hall-row_gr {
    display: flex;
    flex-direction: row;
    margin:2px auto 2px;
    border: 2px solid #219b17;

}
.hall-place {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    width:40px;
    height: 40px;
    font-size: 13px
    background-color: #c0ecff6b;
    border: 1px solid #d0ffc4;
    cursor: pointer;
}



.hall-place_fqred {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px;
    font-size:13px;
    width: 40px;
    height: 40px;


    background-color: #c0ecff3d;
    border: 2px solid rgb(30,205,151);
}


.hall-place.selected {
    cursor: pointer;

    background-color: rgba(28,44,165,0.3);
}

.hall-place.selected:hover {
    background-color: rgba(28,44,165,0.3);
}

.hall-place.bought {
    cursor: auto;
    background-color: #86b7ff;
    color: #fff;
}

.scene{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 800px;
    height: 100px;
    font-weight: bold;
    background-color: #d0ffc4;
    border: 1px solid #999;
    margin:10px auto;
}
.span{
    color: rgba(0, 0, 0, 0.7);


    text-shadow: 5px 5px 12px rgba(93, 195, 255, 0.9);
    position:relative;

}
