body {
    background-color: rgb(229, 230, 237); /* Цвет фона веб-страницы */
}
.text {

    margin:0px;
    font-family:Verdana;
    font-weight:100;
    font-size:16px;
    font-size:16px;
    width:100%;
    height:25%px;
    margin:15px;
    margin-top:0px;
}


.button{

    width: 180px;
    height: 68px;
    cursor: pointer;
    position: relative;
    left: 68%;
    bottom:100px;
    border: 1.5px solid rgb(30,205,151);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    font: normal 20px/60px "Advent Pro", Helvetica, sans-serif;
    color: rgb(30, 205, 151);
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0, 0, 0,0.1);
    text-decoration: none;

}

.button:hover {
    color: rgb(255, 255, 255);
    background: rgb(168, 185, 237);
}

.button:active {
    border: 2px solid rgba(33,224,163,1);
    background: rgba(33,224,163,1);
    -webkit-transition: none;
    -moz-transition: none;
    -o-transition: none;
    transition: none;
}
A {
    text-decoration: none;
    color: rgba(117, 49, 127);/* Цвет ссылок */
}
A:visited {
    text-decoration: none;
    color: rgba(117, 49, 127); /* Цвет посещенных ссылок */
}
A:active {
    text-decoration: none;
    color: rgba(117, 49, 127); /* Цвет активных ссылок */
}

canvas { border: 2px solid black;
}
.t{
    font: normal normal bold 21px/2 "Times New Roman", Times, serif;
    color: rgba(0, 0, 0, 0.7);
}

.img{
    heigth=500;
    width=500;



}#wrap{
     width: 100%;
     height: 100%;
 }
.loginbox1{width: 300px;
    padding: 4px;
    border: 1px solid #777;
    background-color: #777;
    color: white;
    font-weight: bold;
}
.loginbox2{
    width: 300px;
    padding: 4px;
    border: 1px solid #777;
    color: #777;
}
.users{
    border: 1px solid #ffde71

}